# --- Python ---
__pycache__/
*.pyc
*.pyo

# --- Entornos virtuales ---
venv/
.venv/

# --- Django ---
*/migrations/
db.sqlite3

# --- Archivos sistema ---
.DS_Store
Thumbs.db

# --- Archivos grandes o no esenciales ---
*.png
*.jpg
*.jpeg
*.pdf
*.docx
*.drawio
*.bpm
