{% extends "core/base.html" %}
{% block title %}Préstamos{% endblock %}

{% block content %}
<div class="minimal-card">
    <h3 class="mb-3">Préstamos</h3>

    <table class="table table-hover align-middle">
        <thead>
            <tr>
                <th>Universitario</th>
                <th>Libro</th>
                <th>Días</th>
                <th>Fecha préstamo</th>
                <th>Fecha devolución</th>
            </tr>
        </thead>
        <tbody>
            {% for p in prestamos %}
            <tr>
                <td>{{ p.universitario.usuario.nombre }}</td>
                <td>{{ p.libro.titulo }}</td>
                <td>{{ p.dias }}</td>
                <td>{{ p.fch_prestamo }}</td>
                <td>{{ p.fch_devolucion }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
